.vs/
*.suo
*.user
*.suo
*.cache
*.log
Revvy.sln.DotSettings.user

bin/
obj/

packages/

*.dll
*.exe
*.pdb

*.userprefs
*.suo
*.cache

.vscode/
.idea/

_ReSharper*

*.nupkg

# NCrunch
_NCrunch_*
.*.ncrunch*


